<h1>Store#index</h1>
<% if notice %>
<%= notice %>

<% end %>

<% @cotilleo.each do |cotilla| %>



<%end%>

<% @results.each do |result|%>
<% product=result %>
<%=result.title%>
<%= number_to_currency(result.price)%>
<%= button_to 'Add to Cart', line_items_path(product_id: result)%>


<%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>


<%end%>